<div class="container1 row row-cols-4 mt-5">
  <div class="col">
    <div class="card border-primary mb-3" style="max-width: 18rem">
      <div class="card-header">FOOTER 1</div>
      <div class="card-body text-primary">
        <h5 class="card-title">INICIO</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse unde
          quo maiores omnis? Quas delectus nisi, eligendi accusantium ipsum,
          veritatis architecto amet, perferendis aspernatur dolores inventore
          officia omnis sequi commodi.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-secondary mb-3" style="max-width: 18rem">
      <div class="card-header">FOOTER 2</div>
      <div class="card-body text-secondary">
        <h5 class="card-title">Novedades</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nostrum
          iste libero laboriosam, amet provident itaque dolore voluptas odio
          optio voluptatibus dolorum deserunt beatae. Quod maxime obcaecati
          dolorum totam maiores?
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-success mb-3" style="max-width: 18rem">
      <div class="card-header">FOOTER 3</div>
      <div class="card-body text-success">
        <h5 class="card-title">Peliculas</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          doloremque temporibus eligendi perferendis ad. Fugiat eveniet sint
          atque voluptas praesentium nihil autem consequuntur necessitatibus
          reprehenderit soluta officiis, amet dicta a.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-danger mb-3" style="max-width: 18rem">
      <div class="card-header">FOOTER 4</div>
      <div class="card-body text-danger">
        <h5 class="card-title">Registro</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
          accusantium porro sapiente dolores commodi placeat. Voluptatem
          excepturi illum tempore non necessitatibus fugiat? Corrupti nam
          recusandae praesentium minus quo, vitae quasi?
        </p>
      </div>
    </div>
  </div>
</div>
